html, body {
  height: 100%; }

.user-name-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#nameForm {
  display: flex;
  flex-direction: column;
  width: 20%; }
  #nameForm #name {
    height: 50px; }
